@CHARSET "ISO-8859-1";

* {
   margin:0;
   padding:0;
   text-decoration: none;
}

body {
    background-image: url(../images/background.png); 
    background-color:#FFF;
}

#topo{
   width:auto;
   height:130px;
   margin:0;
   padding:0;
   background-image: url(../images/topo.jpg); 
   
}

#topo h1{
   width:238px;
   height:34px;
   margin:40px 0 0 0;

}

#logotipo{
   float:left ;
   width:270px;
   height:100px;
   margin:10px 0 0 26px;
   background: url(../images/white_logo.png) no-repeat;

}

#logoff{
   float:right;
   width:620px;
   height:75px;
   margin-top: 15px;
   margin-right: 30px;
   text-align: right;

}

#user{
   float:right;
   width:160px;
   height:30px;
   margin-top: 80px;
   margin-right: 0px;

}

#menu{
   float:left ;
   width:100%;
   height: 32px;
   margin:0;
   padding: 0px;
   background-color:#FFFFFF;

}

#menubv li a {
    color: #654B24;
}

#menu li {
    background:  url(../images/bg-menu.png) repeat;
    color: #FFF;
    
}
.ui-menu .ui-menuitem-text {
    color: #FFFFFF;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    color: #2647a0;
}
#menu li a:hover {
    color: #CCC;
    /*background: #7BB232;*/
    
}

#tarefas{
   width:1260px;
   min-height: 642px;
   margin:3px;
   padding: 2px;
   font:normal 13px Arial;
   background-image: url(../images/background.png); 
   margin: 0 auto;
   clear:both;
}

fieldset {
	margin-top:6px;
	border:1px dashed #CCC;
	padding:0;
	width:1190px;
}

.form {	margin:0;
	padding:0;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 200%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
        font-size: 75%;
        font-weight:bold;
        letter-spacing: 1px;
	color:#4C4B4B;
}

h4 {
	font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
        /*font-weight:bold;*/
        letter-spacing: 1px;
	color:#FFFFFF;
}

h5 {
	font-family:Arial, Helvetica, sans-serif;
        font-size: 13px;
        /*font-weight:bold;*/
        letter-spacing: 1px;
	color:#FCEB8D;
}

h6 {
	font-family:Arial, Helvetica, sans-serif;
        font-size: 84%;
        font-weight:bold;
        /*letter-spacing: 1px;*/
        padding-top: 6px;
	color:/*#FF0033 #3963C8*/ #FCD71E;
}

select {
	padding:0.15em;
	height:26px;
	border:1px solid #DBDCDD;
	background:#FFFFFF;
	font:0.95em arial, sans-serif;
	font-size: 125%;
	-moz-border-radius:0.3em;
	-khtml-border-radius:0.3em;
        -moz-box-shadow: 0px 1px 0px 0px #654B24 inset;
}
select:hover, input:focus { 		
	border-color:#654B24;
	background:#FFFFFF;
}

.selectmany{
	padding:0.15em;
	height:56px;
	border:1px solid #DBDCDD;
	background:#FFFFFF;
	font:0.95em arial, sans-serif;
	font-size: 125%;
	-moz-border-radius:0.3em;
	-khtml-border-radius:0.3em;
        -moz-box-shadow: 0px 2px 0px 0px #EFEFEF inset;
}
.selectmany:hover, input:focus { 		
	border-color:#C4E5FC;
	background:#FFFFFF;
}

label {
	height:16px;
	margin: 1px;
	padding: 6px;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
        font-size: 16px;
	font-weight: normal;
	line-height: 1.1;
	color:#7C7C79;
	font-weight:bold;
}

.labellogin {
	height:16px;
        margin: 0px;
        padding: 6px;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
        font-weight: normal;
	line-height: 1.1;
	color:#7A7979;
	font-weight:bold;
        -moz-border-radius:0.3em;
	-khtml-border-radius:0.3em;
        -moz-box-shadow: 0px 2px 0px 0px #E3E3E3 inset;
}

.labelmenu {
	height:32px;
        width: 100%;
	margin: 0px;
	padding: 0px;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
        font-size: 100%;
	font-weight: normal;
	line-height: 1.1;
	color:#7A7979;
        border:1px solid #7A7979;
	font-weight:bold;
}

.labelmenu:hover {
	color:#000000;
}

.label:hover {
	color:#FFFFFF;
}

#top {
	width:680px;
	height:50px;
}

caption{
	text-align:left;
	font-size:180%;
	letter-spacing:-1px;
}

#rodape{
   width:1200px;
   height:34px;
   clear:both;
   margin:10px auto;
   text-align:left;
   padding:0 0 0 4px;
   background:#FFFFFF;
   background-image: url(../images/background.png); 
   font:11px "Trebuchet MS", Arial, Tahoma;
   color:#999;

}

#rodape #copyright {
    color: #630;
    background-image: url(../images/background.png); 
}

#img-rodape{
   float:left;
   margin:0 0 0 8px;
   background:#CC3;
}
#copyright{
   float:right;
   margin:7px 8px 0 0;
   background:#FFFFFF;
   
}

#copyright a{
   text-decoration: none;

}

#copyright a:link {
color:#C03;
background:transparent;
}

#copyright a:visited {
color:#464646;
background:transparent;
}

#copyright a:hover {
color:#8E937C;
font-size:113%; 
background:transparent;

}

#conteudo{
   width:1260px;
   min-height: 650px;
   background-image: url(../images/background.png); 
   margin: 0 auto;
   clear:both;
   background-image: url(../images/background.png); 
}

#workspace{
   float:right;
   width:940px;
   min-height: 646px;
   margin:3px;
   padding: 2px;
   background-image: url(../images/background.png); 
   
   font:normal 12px Arial;
   color:#666666
}

/* Tela de compras*/

.fontdescricao{
 font:bold 1.1em/1.3em Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif; color:black;   
}

.valortotal{
    margin-bottom:12px; font:20px  'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif; color:#FF0000;
}

.labelValorTotal{
    margin-bottom:12px;  font:20px 'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif;
}

.descricao{
    float:left;font:bold 1.3em/1.5em Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif; color:#003869;
}

.saldo{
    float:left;font:bold 1.3em/1.5em Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif; color:#006400;
}

.limite{
    font:bold 1.3em/1.5em Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Sans-Serif; color:#000;
}

.btndetalhar {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#050405;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:1px 1px;
	text-decoration:none;
        text-align: center;
        width: 60px;
}

.legendaagendamento{
width:10px;
height: 18px;
border-color: blue;
display: block;
background: red;
float:left;  
margin-left: 0px;
margin-right: 5px;     
}



.pnlbotoes{
  height: 5px;
  margin:0px;
  padding:0px;
  text-align:center;
  margin:20%;  
}

.pnlbotoes2{
  height: 5px;
  margin:0px;
  padding:0px;
  text-align:center;
  margin-left: 25%;
}



.buttonnew{  
width: 20px;
height: 20px;
background-image: url('../images/add.png') !important;
}
.buttonrealizeatendiment{  
width: 20px;
height: 20px;
background-image: url('../images/check.png') !important;
}

.buttonfindclient{  
width: 20px;
height: 20px;
background-image: url('../images/find-client.png') !important;
}


.letramensagem{
    font-size:18px;
}